@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-main {
  width: 60px;
  height: 60px;

  background: linear-gradient(
    180deg,
    rgb(209, 184, 109),
    rgb(189, 167, 99) 25.945%,
    rgb(114, 100, 60) 87.446%,
    rgb(105, 92, 55) 100%
  );
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
}

.gradient-card {
  background: linear-gradient(
    180deg,
    rgb(201, 177, 105),
    rgb(101, 89, 53) 100%
  );
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.39);
}

* {
  @apply text-sm;
}

body {
  @apply bg-[#EFEFEF];
}

.section {
  @apply bg-white text-sm;
}
